body{
	background: white;
}
.name{
	margin-top: 39px;
}
.user{
	width: 250px;
	height: 35px;
	padding-left: 10px;
	background: whitesmoke;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
.login{
	width: 263px;
	height: 35px;
	background: dodgerblue;
	border:1px solid dodgerblue;
	color: #fff	;
	border-radius: 8px;
}
.loginfacebook{
	width: 263px;
	height: 35px;
	font-size: 16px;
	background: dodgerblue;
	border:1px solid dodgerblue;
	color: #fff	;
	border-radius: 8px;
}
b{
	margin-left: 0px;
	position: fixed;
	padding-top: 9px;
}
ion-icon{
	width: 28px;
	height: 28px;
	margin-left: -130px;
	margin-top: 5px;
	color:#fff;
}
fieldset{
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
h3{
	color: aliceblue;
}
select{
	border: transparent;
}